body {
    color: #000000
}

.top a{
    text-decoration: none;
}
.logoanterior {
  color:  #2196F3;
  text-decoration: none;
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.1738;
  letter-spacing: 0.03em;
  text-decoration: none;
  cursor: pointer;
}
.logoposterior {
    color:#000000;
    text-decoration: none;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.1738;
    letter-spacing: 0.03em;
    text-decoration: none;
    cursor: pointer;
}

.logoposteriorprim {
    color: #FFFFFF;
    text-decoration: none;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.1738;
    letter-spacing: 0.03em;
    text-decoration: none;
    cursor: pointer;
}
.navigation{
    list-style-type: none;  
}

.navigation a{
    color: #212121;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.172;
    letter-spacing: 0.02em;
    cursor: pointer;
    list-style-type: none; 
}

.navigation a:hover{
    color:#2196F3;
}

.navigation a:focus{
    color:#2196F3;
}
.contact a{
    color: #757575;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    letter-spacing: 0.02em;
}

.contact a:hover{
    color:#2196F3;
}

.contact a:focus{
    color:#2196F3;
}

.header {
    color: #FFFFFF;
    background-color: #2F303A;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-size: 44px;
    letter-spacing: 0.06em;
    line-height: 1.36;
    text-align: center;
}

.click-to-order {
    color: #FFFFFF;
    background-color: #2196F3;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: bold;
    letter-spacing: 0.06em;
    line-height: 1.875;
    cursor:pointer;
    border:none;
}

.adventages li{
    list-style-type: none;
}

.adventages h3{
    color: #212121;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: bold;
    letter-spacing: 0.03em;
    list-style-type: none;
}

.adventages p{
    color: #757575;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    letter-spacing: 0.03em;
    line-height: 1.714;
    list-style-type: none;
}

.whatdowedo {
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-size: 33px;
    letter-spacing: 0.03em;
    text-align: center;
}

.whatdowedolist li{
    list-style-type: none;
}

.ourteam{
    background-color: #F5F4FA;
}

.ourteamtitle {
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-size: 36px;
    letter-spacing: 0.03em;
    text-align: center;  
}

.ourteamlist {
  list-style-type: none;
  text-align: center;  
}

.ourteamlist figure{
    background-color: #FFFFFF;
}

.ourteamlist h3{
    color: #212121;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    letter-spacing: 0.03em;
    text-align: center; 
}

.ourteamlist span{
    color: #757575;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    letter-spacing: 0.03em;
    text-align: center; 
}

.portfoliobuttonlist {
    list-style-type: none;
}

.portfoliobuttonlist button{
    background-color: #EEEEEE;
    border:none;
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
    font-size: 16px;
    letter-spacing: 0.03em;
    line-height: 1.625;
}

.portfoliobuttonlist button:hover {
    background-color: #2196F3; 
    color:#FFFFFF;
}

.portfoliobuttonlist button:focus {
    background-color: #2196F3; 
    color:#FFFFFF;
}

.projectslist {
    list-style-type: none;
}

.projectslist li{
    border:solid 1px #EEEEEE;
}

.projectslist h3 {
    color: #212121;
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
    font-size: 18px;
    letter-spacing: 0.06em;
    line-height: 2;
}

.projectslist span{
    color: #757575;
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
    font-size: 16px;
    letter-spacing: 0.03em;
    line-height: 1.87;
}

.footnote {
    background-color:#2F303A;
    font-family: 'Roboto', sans-serif;
}

.addressbottom {
    font-style: normal;
}
.addressbottom span{
    color: #FFFFFF;
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
    font-size: 14px;
    letter-spacing: 0.03em;
    line-height: 1.714;
}

.addressbottom a{
    color: rgba(255, 255, 255, 0.6);
    text-decoration: none;
    font-style: normal;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    letter-spacing: 0.03em;
    line-height: 1.714;
}